<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
  <body>
    <div class="container-scroller">

      <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="fragments/sidebar :: sidebar"></nav>

      <div class="container-fluid page-body-wrapper">

        <nav class="navbar p-0 fixed-top d-flex flex-row" th:replace="fragments/navbar :: navbar"></nav>

        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div class="col-12 col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Bug</h4>
                    <form class="forms-sample" th:action="@{/careerobj/{id}(id=${careerobj.id})}" th:object="${careerobj}" method="post">

                      <input type ="hidden" th:field="*{id}" th:value="${careerobj.id}">

                      <div class="form-group">
                        <label for="name">Objective Name</label>
                        <input maxlength="50" type="text" th:field="*{name}" th:value="${careerobj.name}" class="form-control" id="name" placeholder="Objective Name" required>
                      </div>

                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea maxlength="1000" class="form-control" th:field="*{description}" th:value="${careerobj.description}" id="description" rows="4" required></textarea>
                      </div>
                      
                      <div class="form-group">
                        <label for="reason">Reason</label>
                        <textarea maxlength="1000" class="form-control" th:field="*{reason}" th:value="${careerobj.reason}" id="reason" rows="4" required></textarea>
                      </div>


                      <div class="form-group">
                        <label for="name">Target Date</label>
                        <input maxlength="50" type="text" th:field="*{targetDate}" th:value="${careerobj.targetDate}" class="form-control" id="targetDate" placeholder="Target Date">
                      </div>
                      
                      <div class="form-group">
                        <label for="name">Completed Date</label>
                        <input maxlength="50" type="text" th:field="*{completedDate}" th:value="${careerobj.completedDate}" class="form-control" id="completedDate" placeholder="Completed Date">
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>

    <script src="/assets/js/dashboard.js"></script>
  </body>
</html>